<h1 class="ui header center">Socket.io tester</h1>

<form class="ui form">
	<div class="field">
		<label>Host:</label>
		<input id="inputHost" value="127.0.0.1">
	</div>
	<div class="field">
		<label>Port:</label>
		<input id="inputPort" value="5000" type="number">
	</div>
	<button id="buttonConnection" class="ui button" type="submit">Connection</button>
</form>
